#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 30rem;
}

/* กล่องภาพ .picture */
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* ป้องกันไม่ให้รูปออกนอกกรอบ */
}

/* กรณีที่มีการอัปโหลดรูป */
.preview-image {
    max-width: 100%;
    max-height: 100%;
    max-width: 20rem;
    object-fit: cover;
    /* ทำให้รูปไม่เสียสัดส่วนและไม่ออกนอกกรอบ */
}

/* ปุ่ม */
.but {
    display: flex;
    align-items: center;
    gap: 10px; /* ระยะห่างระหว่างปุ่ม */
  }
  
  .predict-button,
  .upload-button,
  #upload-input {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  #upload-input {
    display: none; /* ซ่อน input file */
  }
  
  .upload-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
  }
  
  .predict-button {
    background-color: #008CBA;
    color: white;
  }
  

/* ผลการทำนาย */
.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.predict {
    font-size: 1rem;
}

.class {
    background-color: green;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}